body{
  margin: 0px;
background-color:black;
  font-family: Arial, Helvetica, sans-serif; 
}
img {
  width: 100%;
}

a {
  color: white;
  text-align: center;
}

footer { 
   text-align: center;  
   background-color: #ebebeb;  
   color: black;   
   font-size: 0.8em; 
   padding: 10px; 
} 
